- name: Disable Nodejs Default Version
  ansible.builtin.shell: dnf module disable nodejs -y

- name: Enable Nodejs 18 Version
  ansible.builtin.shell: dnf module enable nodejs:18 -y

- name: Install Nodejs
  ansible.builtin.dnf:
    name: nodejs
    state: present

- name: Copy Backend Service File
  ansible.builtin.template:
    src: backend.service
    dest: /etc/systemd/system/backend.service


- name: Add Application user
  ansible.builtin.user:
    name: expense

- name: Import Common Role - App Pre-requisites
  ansible.builtin.import_role:
    name: common
    tasks_from: app-prereq
  vars:
    app_dir: /app
    component: backend


- name: Download Nodejs Dependencies
  ansible.builtin.shell: npm install
  args:
    chdir: /app

- name:  Install mysql Client
  ansible.builtin.dnf:
    name: mysql
    state: present

- name: Load Schema
  ansible.builtin.shell: mysql -h mysql-{{env}}.decops76s.online -uroot -p{{MySQL_ROOT_PASSWORD}} < /app/schema/backend.sql

- name: start backend service
  ansible.builtin.systemd:
    name: backend
    state: restarted
    enabled: yes
    daemon-reload: yes
